/*
{}
*/
body {
    background: #f7f7f7;
}
.col-md-9 {
    -ms-flex: 0 0 68.5% !important;
    flex: 0 0 68.5% !important;
    max-width: 68.5% !important;
}
.col-md-3 {
    -ms-flex: 0 0 31.5% !important;
    flex: 0 0 31.5% !important;
    max-width: 31.5% !important;
}
.col-lg-9 {
    -ms-flex: 0 0 68.5% !important;
    flex: 0 0 68.5% !important;
    max-width: 68.5% !important;
}
.col-lg-3 {
    -ms-flex: 0 0 31.5% !important;
    flex: 0 0 31.5% !important;
    max-width: 31.5% !important;
}
.container-modife {
    width: 100%;
    padding: 0 20px;
}
.navModife {
    background: #333131 0% 0% no-repeat padding-box;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 0 30px !important;
}
.elementLogo {
    width: 38px !important;
    margin-right: 30px;
}
.elementLogo img{
    width: 100%;
}
.onePoint{
    width: 7px;
    height: 7px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 100%;
    margin-left: 2px;
    margin-bottom: 2px;
}

.form-inline {
    margin-left: 63px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.searchNav {
    border-radius: 50px;
    min-width: 420px;
    border: 1px solid #707070;
    background: #707070;
    height: calc(1.5em + .75rem + 0px) !important;
    color: #FFFFFF !important;
}
.searchNav2 {
    border-radius: 50px;
    width: 302px;
    border: 1px solid #707070;
    background: #383838;
    height: 33px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.nav-link {
    color: #FFFFFF;
}
.btnCommunaute{
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #89AC15 0% 0% no-repeat padding-box;
    padding: 7px 25px;
    border-radius: 13px;
    font-size: 15px;
    margin-left: 50px;
}
.groupPointNav {
    background: unset;
    border: unset;
    position: relative;
    z-index: 111111;
    display: none;
}

.groupPointNav img{
    width: 29px;
    margin-left: -2px;
}
button:focus {
    outline: 0 !important;
}
.content-naveBar {
    position: relative;
}
.content-Menu {
    position: absolute;
    opacity: 0.975 !important;
    box-shadow: 0px 3px 6px #F7F0F029;
    padding: 40px 35px;
    background: #000000 0% 0% no-repeat padding-box;
    backdrop-filter: blur(30px);
    width: auto;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    bottom: 0;
    display: none;
    overflow: scroll;
}
.content-Menu::-webkit-scrollbar{
    width: 0 !important;
    display: none;
}
.sousMenuGlobale1 {
    display: flex;
    justify-content: space-between;
}
.contentElementLeft{
    min-width: 60%;
}
.contentElementRight{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.blockItem{
    display: flex;
    border-bottom: 1px solid #ffffff45;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 13px;
    padding-top: 5px;
}
.iconeFleche{
    float: right;
    width: 15px;
    height: 17px;
    transform: rotate(-100grad);
    position: absolute;
    right: 0;
    top: 10px;
}
.NameElementMenue{
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 4px;
    margin-bottom: 0;
    font-weight: 600;
}
.btnCat{
    color: #787875;
    background: #494842;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 25px;
    margin-bottom: 18px;
    opacity: 0.6;
}

.sousCategorie{
    font-size: 13px;
    color: #787875;
    border-bottom: 1px solid #ffffff14;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.block1 {
    text-align: center;
}
.colorElement{
    color: #FFFFFF;
    opacity: 1;
}
.nav-modife {
    display: flex;
    align-self: center;
}
.nav-modife img {
    height: 40px;
    margin-top: 2px;
}
.formModife {
    margin-bottom: 0;
}
.visible{
    display: block;
    opacity: 1;
    position: fixed !important;
    z-index: 111;
}
.visibleBtn{
    display: block;
    opacity: 1;
}
.iconeMenue{
    width: 41px;
    height: 27px;
}
.categorie{
    margin-top: 70px;
    display: flex;
}

.btnCategorie {
    min-width: 95px;
    color: #FFFFFF;
    opacity: 1;
    background: #494842;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 25px;
    margin-bottom: 20px;
    height: 30px !important;
}
.header2 {
    background: #191717 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}
.settingHeader2 {
    width: 35px;
    height: 44px;
    margin-right: 56px;
}
.block2 {
    display: flex;
    justify-content: space-between;
}
.settingHeader2 {
    color: #FFFFFF;
    opacity: 1;
    font-size: 15px;
    font-weight: 600;
}
.textHeader2{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 3px;
}
.setting2 {
    height: 29px;
}

.btnheader2 {
    color: #ffffff;
    background: #49484282;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 35px;
    margin-bottom: 0;
    /* opacity: 0.6; */
    margin-left: 13px;
}
.content1 {
    display: flex;
    justify-content: space-between;
}
.videoParDefaut{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.videoParDefaut:focus {
    outline: -webkit-focus-ring-color auto 0 !important;
}
video{
    outline: -webkit-focus-ring-color auto 0 !important;
}
.elementVideoParDefaut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.contentParDefaut {
    background: url("../img/grille.png") space;
    background-size: contain;
    position: relative;
}
.linearColor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0E0D0D;
    opacity: 0.86;
}
.bannierAlerte {
    background: #2725254d;
    width: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-right: 15px;
}
.alertMissing{
    width: 34px;
    margin-bottom: 28px;
}
.doNotMissing {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 800;
    writing-mode: vertical-rl;
    text-orientation: inherit;
}
.content2 {
    display: flex;
    padding: 0 7px;
}
.contentSuggestion1{
    margin-top: 20px;
}
.cardSuggestion1{
    background: url("../img/fitness-plus-trainers-1.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    padding-top: 47px;
    margin-bottom: 15px;
}
.cardSuggestion2 {
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}
.img-video-suggestion {
    position: relative;
}
.detailElement{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.heure {
    padding-bottom: 2px;
    float: right;
    width: 54px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    background: #000000d1;
    text-align: center;
    margin-bottom: 0;
}
.group2 {
    margin-top: 17px;
    padding: 6px 15px 15px 20px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-image: linear-gradient(0deg, #000000 23%, rgba(0, 0, 0, 0.5) 100%);
}
.text-liberty{
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: bold;
    color: white;
}
.imgMind {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}
.imgMind img{
    width: 100%;
}
.textMind {
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}
.numberviews {
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
}
.imgViews {
    width: 23px;
    padding-top: 17px;
}
.imgViews img {
    width: 100%;
}
.text-days{
    font-size: 12px;
    color: white;
    padding-top: 20px;
    margin-bottom: 1px;
}
.text-img{
    display: flex;
    width: 50%;
    margin-left: 10px;
}
.content-contenue1{
    margin-bottom: 30px;
}
.blockgeneral{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.blockshareAndComments{
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
}
.blockcomentaireAndButton{
    display: flex;
}
.text-title {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3px;
}
.datePublication {
    color: #605C5C;
    margin-bottom: 0;
    font-size: 15px;
}
.imgOeil {
    width: 22px;

}
.imgOeil img{
    width: 100%;
    margin-left: 15px;
}
.nbrView {
    font-size: 15px;
    font-weight: bold;
    color: #605C5C;
}
.imgCoeur {
    width: 24px;
}
.imgCoeur img{
    width: 100%;
}
.nbrLove{
    color: #605C5C;
    font-size: 15px;
    font-weight: 800;
    padding: 0 10px;
}
.groupLOveUnlove{
    display: flex;
    justify-content: space-between;
    width: 28%;
}
.blockLoveUnlove{
    display: flex;
    margin-left: 0;
}
.contentPubli{
    display: flex;
    justify-content: space-between;
}
.container-modife{
    width: 100%;
}
.publicite{
    width: 100%;
    margin-bottom: 20px;
}
.publicite img{
    width: 100%;
}
.suggestion{
    height: 225px;
    overflow-y: auto;
}
.suggestion::-webkit-scrollbar{
    width: 0 !important;
    display: none;
}
.content12{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.blockDetail {
    width: 64%;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    padding: 16px 20px;
    position: relative;
}
.blockImgPuli {
    width: 53px;
    text-align: center;
}
.blockImgPuli img{
    width: 26px;
}
.textShare{
    font-size: 12px;
    margin-bottom: 13px;
}
.bottomElement {
    margin-bottom: 25px;
}
.commentaire {
    font-size: 16px;
    color: #605C5C;
    max-width: 480px;
}
.btnMore {
    background: none;
    color: #7cd1dc;
    padding: 0 !important;
}
.imgFleche {
    width: 15px;
    margin-top: 8px;
    padding-left: 4px;
    height: 11px;
}
.moreContent{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    position: absolute;
    bottom: 10px;
}
.blockAuteur{
    background: #ffffff;
    border: 1px solid white;
    padding: 0px 10px;
    width: 16%;
    text-align: center;
    position: relative;
}
.imgBadge {
    right: 12px;
    width: 35px;
    position: absolute;
}
.elementImgAuteur {
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    width: 66px;
    height: 66px;
    border-radius: 100%;
    overflow: hidden;
}
.elementImgAuteur img{
    width: 100%;
}
.nameAuteur{
    font-weight: 800;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 4px;
}
.nbreAbonnees {
    font-size: 15px;
    font-weight: 600;
    color: #605c5b;
    margin-bottom: 13px;
}
.btnSubscribe{
    background: #f27439;
    color: white;
    font-weight: 700;
    border-radius: 13px;
    padding: 6px 25px;
}
.blockTime{
    background: #000000;
    width: 16%;
}

.searchButton {
    position: absolute;
    right: 10px;
}
.btnPLus {
    position: absolute;
    right: 0;
}
.blockTime {
    text-align: center;
}
.img-time{
    width: 80px;
    margin-top: 19px;
}
.elementBarreText {
    display: flex;
    justify-content: center;
}
.textTimeShalied {
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 1px;
}
.timeSh{
    font-size: 23px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.calendar {
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}
.rectangle {
    height: 45px;
    background: #4a4a4a;
    width: 19px;
    margin-bottom: 12px;
    border-radius: 20px;
}
.l .rectangle {
    height: 25px;
    margin-top: 20px;
}
.h .rectangle {
    height: 29px;
    margin-top: 16px;
}
.e .rectangle {
    height: 12px;
    margin-top: 33px;
}
.d .rectangle {
    height: 40px;
    margin-top: 5px;
}
.contentBarreText {
    padding-left: 5px;
}
.lettre {
    font-weight: 800;
    color: white;
    font-size: 14px;
}
.l .lettre {
    color: #f4a83c;
}
.h .lettre {
    color: #f7c5c5;
}
.e .lettre {
    color: #42c1f5;
}
.d .lettre {
    color: #cccc5c;
}
.pointsRose {
    position: absolute;
    top: 10px;
    left: 15px;
}
.searchButtonMenue {
    position: absolute;
    right: 9px;
    top: 51px;
}
.btnMenue {
    margin-left: 66px;
    margin-top: 2px;
    background: unset;
    border: unset;
    position: relative;
    z-index: 111111;
    display: block;
}
.contentButtonCategorie{
    display: inline-grid;
}
.invisible{
    display: none;
}
.contentSousMenueCategorie{
    display: none;
    margin-left: 50px;
}
.textSousCategorie {
    color: #FFFFFF;
    font-size: 13px;
    border-bottom: 1px solid #ffffff5e;
    text-align: center;
    margin-bottom: 3px;
    padding-bottom: 4px;
}
.visibleSousCategorie{
    display: inline-grid;
    opacity: 1;
}
.btnCategorie:hover {
    color: #ffffff !important;
    text-decoration: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}
.muuText {
    color: #FFFFFF;
    font-size: 14.5px;
}
.flecheMuu {
    height: 20px;
    width: 17px !important;
    transform: rotate(90deg);
    margin-right: 13px;
}
.muu {
    margin-left: 103px;
    margin-top: 12px;
}
.commentTitle {
    display: flex;
    background: #CECECE 0% 0% no-repeat padding-box;
    width: 300px;
    padding: 10px 0;
    justify-content: center;
    margin-bottom: 30px;
}
.commentBlock {
    background: #E4F3B046 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    opacity: 1;
    display: flex;
}
.commentOne {
    display: block;
}
.nombreComment{
    color: #FFFFFF;
    font-weight: 700;
    padding-right: 20px;
    margin-bottom: 0;
}.commentText{
     color: #FFFFFF;
     font-weight: 700;
     padding-right: 25px;
     margin-bottom: 0;
 }
.commentImg {
    width: 22px;
    height: 18px;
    margin-top: 5px;
}
.elementAuteurComment {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
}
.elementAuteurComment img{
    width: 100%;
    height: auto;
}
.imgReponseBlock {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    overflow: hidden;
}
.imgReponseBlock img {
    width: 100%;
}
.elementAuteurComment img{
    width: 100%;
    height: auto;
}
.checkBlock {
    display: flex;
}
.blockReponse {
    margin-left: 22px;
}
.commentaireAuteurTitle{
    font-size: 17px;
    letter-spacing: 0px;
    color: #605C5C;
    font-weight: bolder;
    margin-bottom: 7px;
}
.commentaireText{
    font-size: 15px;
    letter-spacing: 0px;
    color: #605C5C;
}
.numberLike{
    font-size: 15px;
    letter-spacing: 0px;
    color: #605C5C;
    font-weight: bolder;
}
.timeCommentaire{
    font-size: 15px;
    color: #605C5C;
    float: right;
}
.reponse{
    display: flex;
}
.auteurCommentBlock{
    display: flex;
}
.reponseText{
    font-size: 17px;
    letter-spacing: 0px;
    color: #605C5C;
    opacity: 1;
    font-weight: bolder;
    margin-bottom: 0;
}
.timeReponse{
    font-size: 15px;
    letter-spacing: 0px;
    color: #605C5C;
    margin-bottom: 8px;
}
.textReponse{
    font-size: 15px;
    color: #605C5C;
}
.textReponse{
    font-size: 14px;
    color: #9C9999;
    font-weight: bolder;
}
.textCommentBleu{
    font-size: 14px;
    color: #34C1F5;
    font-weight: bolder;
}
.textBlock {
    width: 90%;
}
.readMore {
    float: right;
    color: #34C1F5;
}
.blockLick {
    display: flex;
    margin-left: 40px;
}
.blockMoreAnswer {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 30px;
}
.textComment {
    color: #9C9999;
    font-weight: bold;
    font-size: 15px;
}
.contentSwipeToday {
    display: flex;
}
.barreLatraleNoir{
    width: 46px;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    align-content: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #020202 0% 0% no-repeat padding-box;
    writing-mode: vertical-rl;
    text-orientation: inherit;
    padding-right: 7px;
}
.contentSwipeToday{
    padding: 35px 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container {
    padding: 15px 0 !important;
    margin-left: 10px !important;
}
.elementCardSuggestionDay {
    height: 139px;
    position: relative;
    overflow-y: hidden;
}
.elementCardSuggestionDay img{
    width: 100%;
}
.flyText{
    color: #F7F7F7;
    font-size: 35px;
    margin-bottom: 0;
    font-weight: bold;
}
.heureFly{
    background: #000000;
    font-size: 11px;
    color: #FFFFFF;
    margin-bottom: 0px;
    padding: 5px 20px;
    z-index: 111111;
    font-weight: 900;
}
.contentFlyHeure{
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    background: transparent linear-gradient(180deg, #00000000 0%, #080707 100%) 0% 0% no-repeat padding-box;
    opacity: 0.69;
    align-items: flex-end;
    padding-left: 10px;
}
.libertiText{
    font-size: 17px;
    color: #5E5E5E;
    font-weight: bolder;
    margin-bottom: 8px;
}
.imgLiberti{
    width: 20px;
    height: 20px;
}
.mindCard{
    display: flex;
}
.card-suggestionDay {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 5px 5px;
    display: block !important;
    text-align: unset !important;
    font-size: unset !important;
    height: unset !important;
}
.swiper-wrapper {
    height: auto !important;
}
.swiper-container {
    height: auto !important;
}
.blockImgMind{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 13px;
}
.blockImgMind img{
    width: 100%;
}
.oeil-1{
    width: 16px;
    margin-left: -45px;
    height: 16px;
}
.day{
    float: right;
    font-size: 12px;
    letter-spacing: 0px;
    color: #605C5C;
    margin-bottom: 0;
    font-weight: 900;
}

.contentCardSuggestionDay {
    padding: 10px 13px;
}
.mindText {
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}
.numberviewsSuggestion {
    font-size: 12px;
    letter-spacing: 0px;
    color: #605C5C;
    margin-bottom: 0;
    font-weight: 900;
}
.block3 {
    width: 100%;
    text-align: -webkit-left;
    padding-left: 14px;
    display: block;
}
.content-Haltcare .container-fluid .contentSwipeToday {
    padding: 35px 0;
    background: rgba(205, 229, 117, 0.1);
    border: 1px solid #FFFFFF;
}
.vertBarre{
    color: #242323;
    background: rgba(205, 229, 117, 0.33);
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
.life{
    background: rgba(250, 159, 159, 0.33) 0% 0% no-repeat padding-box;
    color: #242323;
}
.content-life{
    background: hsla(0, 78%, 87%, 0.1) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
}

.Health{
    background: rgba(52, 193, 245, 0.33) 0% 0% no-repeat padding-box;
    color: #242323;
}
.content-Health{
    background: rgba(52, 193, 245, 0.1) 0% 0% no-repeat padding-box ;
    border: 1px solid #FFFFFF;

}
.content-Business{
    background: rgba(2, 2, 2, 0.1) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
}
.Business{
    background: rgba(2, 2, 2, 0.33) 0% 0% no-repeat padding-box;
}
.content-Education{
    background: rgba(255, 247, 149, 0.1) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    /* opacity: 0.1; */
}
.Education{
    background: rgba(244, 137, 47, 0.33) 0% 0% no-repeat padding-box;
    color: #242323;
}
.content-Evironnement{
    background: rgba(244, 137, 47, 0.1) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
}
.Evironnement{
    background: #F4A82F 0% 0% no-repeat padding-box;
    color: #242323;
}
.groupButtonHeader2 {
    width: 50%;
}
.iconeMenue2{
    width: 29px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;

}
.iconeMenue2 img{
    width: 100%;
}
.textHeure{
    display: flex;
    justify-content: space-between;
}
.btnSearchMobile{
    display: none;
}
.header2Web {
    display: block;
}
.header2Mobile {
    display: none;
}
.blockImgPuliMobile {
    display: none;
}

.contentMobile {
    display: none;
}
.contentweb {
    display: block;
}
.mobMobile {
    display: none;
}
.btnRoseMobile {
    display: none;
}
.blockTablettePub {
    display: none;
}

.btnLogOut {
    background: none;
    border: none;
}
.visiblelement{
    display: block;
}


@media all and (min-width: 300px) and (max-width: 767px){
    .col-lg-9 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .col-lg-3 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .searchNav {
        display: none;
    }
    .navbar-toggler {
        display: none;
    }
    .form-inline {
        display: none;
    }
    .btnSearchMobile{
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }
    .groupButtonHeader2 {
        display: none !important;
    }
    .content-Menu {
        width: 100%;
    }
    .colMobe {
        display: none;
    }
    .muu {
        margin-left: 0px;
    }
    .header2Web {
        display: none;
    }
    .header2Mobile {
        display: block;
    }
    .timeHeader {
        letter-spacing: -0.3px;
        color: #FFFFFF;
        font-size: 12px;
        margin-bottom: 0;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 8px;
        font-weight: bold;
    }
    .blockTimeMob {
        display: flex;
        background: rgba(255, 255, 255, 0.08) 0% 0% no-repeat padding-box;
        border-radius: 11px;
    }

    .blockgeneral {
        display: block;
        margin-bottom: 0;
    }
    .container-modife-mobile {
        width: 100%;
        padding: 0;
    }
    .blockDetail {
        width: 100%;
        padding: 15px 20px;
    }
    .content-contenue1 {
        margin-bottom: 0;
    }
    .col-modife {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .text-title {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .content12 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .datePublication {
        color: #605C5C;
        margin-bottom: 0;
        font-size: 13px;
        width: 100%;
    }
    .textImgView {
        width: 22%;
    }
    .groupLOveUnlove {
        width: 63%;
    }
    .blockImgPuliMobile {
        display: block;
        width: 24px;
        margin-top: -3px;
        height: 24px;
        margin-left: 10px;
    }
    .blockImgPuliMobile img{
        width: 100%;
    }
    .blockshareAndComments {
        display: none;
    }
    .blockcomentaireAndButton {
        display: none;
    }
    .moreContent {
        display: none;
    }
    .blockAuteur {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .imgBadge {
        right: 46%;
        width: 24px;
        position: absolute;
    }
    .contentMobile {
        display: block;
        width: 45%;
        text-align: justify;
    }
    .contentweb {
        display: none;
    }
    .elementImgAuteur {
        margin-top: 15px;
        margin-left: unset;
        margin-right: unset;
        width: 48px;
        height: 48px;
    }
    .nameAuteur {
        font-weight: 800;
        font-size: 15px;
        margin-top: 19px;
        margin-bottom: 0px;
    }
    .nbreAbonnees {
        font-size: 13px;
        font-weight: 600;
        color: #605c5b;
        margin-bottom: 13px;
    }
    .elementBtnSouscrire  {
        margin-top: 23px;
        padding-right: 15px;
    }
    .btnSubscribe {
        padding: 4px 20px;
        font-size: 13px;
    }
    .blockTime {
        background: #000000;
        width: 16%;
        display: none;
    }
    .mobMobile {
        display: block;
    }
    .publicite{
        position: relative;
        margin-bottom: 20px;
    }
    .seed-Block{
        position: absolute;
        top: 0;
        background: rgba(37, 37, 37, 0.43) 0% 0% no-repeat padding-box;
        color: #9ACED5;
        padding: 10px 30px;
    }
    .seedText {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 700;
    }
    .commentBlock {
        margin-top: -2px;
    }
    .swiperBlackMob {
        display: none;
    }
    .btnRoseWeb {
        display: none;
    }
    .visibleBtn {
        display: flex;
        opacity: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .btnRoseWeb {
        display: none;
    }
    .pointRoseMobile {
        width: 29px;
        height: 29px;
        margin-top: 13px;
        margin-right: 20px;
    }
    .groupPointNav img {
        width: 29px;
        margin-left: 2px;
    }
    .searchButtonMenue {
        position: absolute;
        right: 29px;
        top: 18px;
    }
    .searchNav2 {
        margin-top: 18px;
    }
    .iconeMenue2 {
        width: 25px;
        height: 25px;
        margin-right: 7px;
        margin-left: 7px;
    }
    .blockTablettePub {
        display: none;
    }
    .pointsRose {
        position: relative;
        right: 15px;
    }
    .visiblelement{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: -50px;
        padding-right: 0px;
        margin-left: -30px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){

    .navbar-toggler {
        display: none;
    }
    .searchButtonMenue {
        left: 36%;
    }
    .col-lg-9 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .col-lg-3 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .colMobe {
        display: none;
    }
    .blockTablettePub {
        display: block;
    }
    .contentSuggestion1 {
        display: flex;
        justify-content: space-between;
    }
    .blockTime {
        display: none;
    }
    .blockTimeTablette {
        background: #000000;
        width: 16%;
    }
    .text-title {
        font-size: 20px;
    }
    .blockDetail {
        width: 70%;
        padding: 13px 20px;
    }
    .content12 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .datePublication {
        width: 46%;
    }
    .textImgView {
        width: 44%;
    }
    .groupLOveUnlove {
        width: 38%;
    }
    .webElement {
        display: none !important;
    }
    .blockgeneralTablette{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .shareMore{
        display: flex;
        justify-content: space-between;
    }
    .blockAuteur {
        width: 30%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .groupLOveTablette{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }
    .groupLOveUnlove {
        width: 90%;
    }
    .blockImgPuli img {
        width: 25px;
        min-height: 33px;
    }
    .imgBadge {
        right: 12px;
        width: 35px;
        position: absolute;
        top: 0;
    }
    .blockTextAuteur {
        width: 68%;
        text-align: -webkit-left;
        padding-left: 10px;
        margin-top: 42px;
    }
    .blockgeneral {
        margin-bottom: 0px;
    }
    .content-contenue1 {
        margin-bottom: 0;
    }
    .col-modife {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .btnSubscribe {
        padding: 4px 24px;
    }
    .publicite {
        width: 70%;
        margin-bottom: -1px;
    }
    .blockTimeTablette {
        background: #000000;
        width: 28%;
        text-align: center;
    }
    .textTimeShalied {
        margin-bottom: 8px;
    }
    .timeSh {
        margin-bottom: 8px;
    }
    .calendar {
        margin-bottom: 10px;
    }
    .contentSuggestion1 {
        margin-bottom: 20px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1023px){

    .searchNav {
        min-width: 323px;
    }

}