@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../font/Ubuntu-Bold.woff2") format("woff2"),
    url("../font/Ubuntu-Bold.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-BoldItalic";
    src: url("../font/Ubuntu-BoldItalic.woff2") format("woff2"),
    url("../font/Ubuntu-BoldItalic.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-Italic";
    src: url("../font/Ubuntu-Italic.woff2") format("woff2"),
    url("../font/Ubuntu-Italic.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-Light";
    src: url("../font/Ubuntu-Light.woff2") format("woff2"),
    url("../font/Ubuntu-Light.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-LightItalic";
    src: url("../font/Ubuntu-LightItalic.woff2") format("woff2"),
    url("../font/Ubuntu-LightItalic.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../font/Ubuntu-Medium.woff2") format("woff2"),
    url("../font/Ubuntu-Medium.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-MediumItalic";
    src: url("../font/Ubuntu-MediumItalic.woff2") format("woff2"),
    url("../font/Ubuntu-MediumItalic.woff") format("woff");
}
@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../font/Ubuntu-Regular.woff2") format("woff2"),
    url("../font/Ubuntu-Regular.woff") format("woff");
}
body {
    background: #FFFFFF;
    overflow-x: hidden !important;
    font-family: "Ubuntu-Regular";
}
.col-md-9 {
    -ms-flex: 0 0 68.5% !important;
    flex: 0 0 68.5% !important;
    max-width: 68.5% !important;
}
.col-md-3 {
    -ms-flex: 0 0 31.5% !important;
    flex: 0 0 31.5% !important;
    max-width: 31.5% !important;
}
.col-lg-9 {
    -ms-flex: 0 0 68.5% !important;
    flex: 0 0 68.5% !important;
    max-width: 68.5% !important;
}
.col-lg-3 {
    -ms-flex: 0 0 31.5% !important;
    flex: 0 0 31.5% !important;
    max-width: 31.5% !important;
}
.container-modife {
    width: 100%;
    padding: 0 20px;
}
.navModife {
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    padding: 0 10px !important;
    background: rgb(36, 35, 35);
}
.elementLogo {
    width: 29px !important;
    margin-right: 0;
    margin-left: 40px;
}
.elementLogo img{
    width: 100%;
}
.onePoint{
    width: 7px;
    height: 7px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 100%;
    margin-left: 2px;
    margin-bottom: 2px;
}

.form-inline {
    margin-left: 320px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.searchNav {
    min-width: 194px !important;
    height: 28px !important;
    margin-left: 68px;
    padding: 3px 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #2a2a2a;
    color: #4d4d4d !important;
    border: 0;
    font-size: 13px;
}
.searchNav2 {
    border-radius: 50px;
    width: 302px;
    border: 1px solid #707070;
    background: #383838;
    height: 33px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.nav-link {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 0px;
    font-family: "Ubuntu-Regular";
    margin-bottom: 0;
}
.btnCommunaute{
    color: #FFFFFF;
    padding: 9px 15px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 20px;
    font-size: 14px;
    background-image: linear-gradient(135deg, #db087c, #ffbe26);
}
.groupPointNav {
    background: unset;
    border: unset;
    position: relative;
    z-index: 111111;
    display: none;
}

.groupPointNav img{
    width: 29px;
    margin-left: -2px;
}
button:focus {
    outline: 0 !important;
}
.content-naveBar {
    position: relative;
}
.content-Menu {
    position: absolute;
    opacity: 0.975 !important;
    box-shadow: 0px 3px 6px #F7F0F029;
    padding: 40px 35px;
    background: #000000 0% 0% no-repeat padding-box;
    backdrop-filter: blur(30px);
    width: auto;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    bottom: 0;
    display: none;
    overflow: scroll;
}
.content-Menu::-webkit-scrollbar{
    width: 0 !important;
    display: none;
}
.sousMenuGlobale1 {
    display: flex;
    justify-content: space-between;
}
.contentElementLeft{
    min-width: 60%;
}
.contentElementRight{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.blockItem{
    display: flex;
    border-bottom: 1px solid #ffffff45;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 13px;
    padding-top: 5px;
}
.iconeFleche{
    float: right;
    width: 15px;
    height: 17px;
    transform: rotate(-100grad);
    position: absolute;
    right: 0;
    top: 10px;
}
.NameElementMenue{
    font-size: 14px;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-top: 4px;
    margin-bottom: 0;
    font-weight: 600;
}
.btnCat{
    color: #787875;
    background: #494842;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 25px;
    margin-bottom: 18px;
    opacity: 0.6;
}

.sousCategorie{
    font-size: 13px;
    color: #787875;
    border-bottom: 1px solid #ffffff14;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
.block1 {
    text-align: center;
}
.colorElement{
    color: #FFFFFF;
    opacity: 1;
}
.nav-modife {
    display: flex;
    align-self: center;
}
.nav-modife img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}
.formModife {
    margin-bottom: 0;
}
.visible{
    display: block;
    opacity: 1;
    position: fixed !important;
    z-index: 111;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}
.visible::-webkit-scrollbar{
    display: none !important;
}
.visibleBtn{
    display: block;
    opacity: 1;
}
.iconeMenue{
    width: 41px;
    height: 27px;
}
.categorie{
    margin-top: 70px;
    display: flex;
}

.btnCategorie {
    min-width: 95px;
    color: #FFFFFF;
    opacity: 1;
    background: #494842;
    border-radius: 14px;
    font-size: 13px;
    font-weight: 700;
    padding: 5px 25px;
    margin-bottom: 20px;
    height: 30px !important;
}
.header2 {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}
.block2{
    display: flex;
}
.settingHeader2 {
    width: 35px;
    height: 44px;
    margin-right: 56px;
}
.block2 .img-logo2{
    display: flex;
    justify-content: space-between;
    width: 53px;
    margin-left: 56px;

}
.block2 img{
    width: 100%;
    height: 13px;
    margin-top: 5px;
}
.settingHeader2 {
    color: #FFFFFF;
    opacity: 1;
    font-size: 15px;
    font-weight: 600;
}
.textHeader2{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 3px;
}
.setting2 {
    height: 29px;
}

.btnheader2 {
    color: #ffffff;
    background: none;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    padding: 1px 25px;
    margin-bottom: 0;
    opacity: 1;
    margin-left: 13px;
    font-family: "Ubuntu-Medium";
}
.content1 {
    display: flex;
    justify-content: space-between;
}
.videoParDefaut{
    position: relative;
    width: 100%;
    height: 514px;
    display: block;
}
.title-groupIcone{
    display: flex;
}
.videoParDefaut:focus {
    outline: -webkit-focus-ring-color auto 0 !important;
}
video{
    outline: -webkit-focus-ring-color auto 0 !important;
}
.elementVideoParDefaut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    z-index: 3;
    bottom: 0;
    right: 0;
}
.contentParDefaut {
    background: url("../img/grille.png") space;
    background-size: contain;
    position: relative;
}
.linearColor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0E0D0D;
    opacity: 0.86;
}
.bannierAlerte {
    background: #2725254d;
    width: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-right: 15px;
}
.alertMissing{
    width: 34px;
    margin-bottom: 28px;
}
.doNotMissing {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 800;
    writing-mode: vertical-rl;
    text-orientation: inherit;
}
.content2 {
    display: flex;
    padding: 0 7px;
}
.contentSuggestion1{
    margin-top: 20px;
}
.cardSuggestion1{
    background: url("../img/fitness-plus-trainers-1.jpg") no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    padding-top: 47px;
    margin-bottom: 15px;
    margin-right: 25px !important;
}
.cardSuggestion2 {
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow-y: hidden;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    margin-right: 25px !important;
}
.cardSuggestion2::-webkit-scrollbar{
    display: none !important;
}
.img-video-suggestion {
    position: relative;
}
.detailElement{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.heure {
    padding-bottom: 2px;
    float: right;
    width: 54px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    background: #000000d1;
    text-align: center;
    margin-bottom: 0;
}
.group2 {
    margin-top: 17px;
    padding: 6px 15px 15px 20px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-image: linear-gradient(0deg, #000000 23%, rgba(0, 0, 0, 0.5) 100%);
}
.text-liberty{
    font-size: 13px;
    margin-bottom: 2px;
    font-weight: bold;
    color: white;
}
.imgMind {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}
.imgMind img{
    width: 100%;
}
.textMind {
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}
.numberviews {
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-bottom: 0;
}
.imgViews {
    width: 23px;
    padding-top: 17px;
}
.imgViews img {
    width: 100%;
}
.text-days{
    font-size: 12px;
    color: white;
    padding-top: 20px;
    margin-bottom: 1px;
}
.text-img{
    display: flex;
    width: 50%;
    margin-left: 10px;
}

.blockgeneral{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #f7f7f7;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
}
.blockshareAndComments{
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
}
.blockcomentaireAndButton{
    display: flex;
}
.text-title {
    color: #000000;
    font-size: 20px;
    margin-bottom: 15px;
    width: 65%;
    font-family: "Ubuntu-Medium";
}
.datePublication {
    color: rgb(51, 51, 51);
    margin-bottom: 0;
    font-size: 14px;
    font-family: "Ubuntu-Regular";
}
.imgOeil {
    width: 22px;

}
.imgOeil img{
    width: 100%;
    margin-left: 15px;
}
.nbrView {
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-family: "Ubuntu-Medium";
    margin-left: 40px;
}
.block-detail-commentaire {
    background: #efefef;
    margin: 0px -18px;
    padding: 20px 18px 10px;
    min-height: 150px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.des-text{
    color: #8f8f8f;
    font-size: 14px;
    font-family: "Ubuntu-Medium";
    margin-bottom: 15px;
    max-width: 705px;
}
.des-text span{
    font-family: "Ubuntu-Regular";
}
.imgCoeur {
    width: 24px;
}
.imgCoeur img{
    width: 100%;
}
.nbrLove{
    color: #605C5C;
    font-size: 15px;
    font-weight: 800;
    padding: 0 10px;
    max-width: 704px;
}
.groupLOveUnlove{
    display: flex;
    justify-content: space-between;
    width: 22%;
    margin-top: 3px;
}
.blockLoveUnlove{
    display: flex;
    margin-left: 0;
}
.contentPubli{
    display: flex;
    justify-content: space-between;
}
.container-modife{
    width: 100%;
}
.trois-point-noir{
    color: #707070;
    font-size: 24px;
    font-weight: 500;
    margin-top: -15px;
}
.publicite{
    width: 100%;
    margin-bottom: 20px;
}
.publicite img{
    width: 100%;
}
.suggestion{
    height: 308px;
    overflow-y: auto;
}
.suggestion::-webkit-scrollbar{
    width: 0 !important;
    display: none;
}
.content12{
    display: flex;
    width: 80%;
}
.blockDetail {
    width: 64%;
    padding: 0 20px;
    position: relative;
}
.blockImgPuli {
    width: 53px;
    text-align: center;
}
.blockImgPuli img{
    width: 27px;
    height: 27px;
}
.textShare{
    font-size: 12px;
    margin-top: 5px;
    font-family: "Ubuntu-Regular";
}
.bottomElement {
    margin-bottom: 30px;
}
.bottomElement2 {
    margin-bottom: 60px;
}
.bottomElement3 {
    margin-bottom: 11px;
}
.commentaire {
    font-size: 16px;
    color: #605C5C;
    max-width: 480px;
}
.btnMore {
    background: none;
    color: #7cd1dc;
    padding: 0 !important;
}
.imgFleche {
    width: 15px;
    margin-top: 8px;
    padding-left: 4px;
    height: 11px;
}
.moreContent{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    position: absolute;
    bottom: 10px;
}
.blockAuteur{
    background: #ffffff;
    border: 1px solid white;
    padding: 0px 10px;
    width: 16%;
    text-align: center;
    position: relative;
    height: 287px;;
    border-radius: 5px;
}
.imgBadge {
    right: 12px;
    width: 35px;
    position: absolute;
}
.elementImgAuteur {
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    overflow: hidden;
}
.elementImgAuteur img{
    width: 100%;
}
.nameAuteur{
    font-weight: 800;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: "Ubuntu-Medium";
}
.nbreAbonnees {
    font-size: 15px;
    font-weight: 600;
    color: #605c5b;
    margin-bottom: 21px;
}
.btnSubscribe{
    background: #f27439;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 6px 35px;
}
.blockTime{
    background: #000000;
    width: 16%;
}
.searchButton {
    position: absolute;
    right: 10px;
}
.searchButton img{
   width: 13px;
}
.btnPLus {
    position: absolute;
    right: 0;
}
.blockTime {
    text-align: center;
    height: 287px;
    border-radius: 5px;
}
.suggestionNone{
    display: none;
}
.img-time{
    width: 80px;
    margin-top: 19px;
}
.elementBarreText {
    display: flex;
    justify-content: center;
}
.categorie-name {
    width: 100%;
    position: absolute;
    top: 45%;
}

.categorie-name img {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: 11px;
}
.textTimeShalied {
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: -3px;
}
.timeSh{
    font-size: 28px;
    color: white;
    margin-bottom: 0;
    font-family: "Ubuntu-Bold";
}
.calendar {
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 11px;
    margin-top: -4px;
}
.rectangle {
    height: 45px;
    background: #4a4a4a;
    width: 19px;
    margin-bottom: 5px;
    border-radius: 20px;
}
.l .rectangle {
    height: 25px;
    margin-top: 20px;
}
.h .rectangle {
    height: 29px;
    margin-top: 16px;
}
.e .rectangle {
    height: 12px;
    margin-top: 33px;
}
.d .rectangle {
    height: 40px;
    margin-top: 5px;
}
.contentBarreText {
    padding-left: 5px;
}
.lettre {
    font-weight: 800;
    color: white;
    font-size: 14px;
}
.l .lettre {
    color: #f4a83c;
}
.h .lettre {
    color: #f7c5c5;
}
.e .lettre {
    color: #42c1f5;
}
.d .lettre {
    color: #cccc5c;
}
.pointsRose {
    position: absolute;
    top: 10px;
    left: 15px;
}
.searchButtonMenue {
    position: absolute;
    right: 9px;
    top: 51px;
}
.btnMenue {
    margin-left: 0px;
    margin-top: 2px;
    background: unset;
    border: unset;
    position: relative;
    z-index: 111111;
    display: block;
}
.contentButtonCategorie{
    display: inline-grid;
}
.invisible{
    display: none;
}
.contentSousMenueCategorie{
    display: none;
    margin-left: 50px;
}
.textSousCategorie {
    color: #FFFFFF;
    font-size: 13px;
    border-bottom: 1px solid #ffffff5e;
    text-align: center;
    margin-bottom: 3px;
    padding-bottom: 4px;
}
.visibleSousCategorie{
    display: inline-grid;
    opacity: 1;
}
.btnCategorie:hover {
    color: #ffffff !important;
    text-decoration: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25) !important;
}
.muuText {
    color: #FFFFFF;
    font-size: 14.5px;
}
.flecheMuu {
    height: 20px;
    width: 17px !important;
    transform: rotate(90deg);
    margin-right: 13px;
}
.muu {
    margin-left: 103px;
    margin-top: 12px;
}
.commentTitle {
    display: flex;
    background: #CECECE 0% 0% no-repeat padding-box;
    width: 50%;
    padding: 6px 30px 10px;
    justify-content: center;
    margin-bottom: 30px;
    border-top-left-radius: 10px;
}
.commentBlock {
    background: #f7f7f7;
    border-radius: 5px;
}
.content-commentaire {
    margin-bottom: 0 20px;
    display: block !important;
}
.commentOne {
    display: block;
}
.nombreComment{
    color: #FFFFFF;
    font-weight: 700;
    padding-right: 20px;
    margin-bottom: 0;
}
.commentText{
     color: #FFFFFF;
     font-weight: 700;
     padding-right: 25px;
     margin-bottom: 0;
     padding-top: 4px;
 }
.commentImg {
    width: 40px;
    height: 18px;
    margin-top: 5px;
}
.elementAuteurComment {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
}
.elementAuteurComment img{
    width: 100%;
    height: auto;
}
.imgReponseBlock {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    overflow: hidden;
}
.imgReponseBlock img {
    width: 100%;
}
.elementAuteurComment img{
    width: 100%;
    height: auto;
}
.checkBlock {
    display: flex;
}
.blockReponse {
    margin-left: 22px;
}
.commentaireAuteurTitle{
    font-size: 17px;
    letter-spacing: 0px;
    color: #605C5C;
    font-weight: bolder;
    margin-bottom: 7px;
}
.commentaireText{
    font-size: 14px;
    font-family: "Ubuntu-Regular";
    max-width: 265px;
}
.numberLike{
    font-size: 15px;
    letter-spacing: 0px;
    color: #605C5C;
    font-weight: bolder;
}
.timeCommentaire{
    font-size: 15px;
    color: #605C5C;
    float: right;
    padding-right: 130px;
}
.reponse{
    display: flex;
}
.auteurCommentBlock{
    display: none;
}
.reponseText{
    font-size: 17px;
    letter-spacing: 0px;
    color: #605C5C;
    opacity: 1;
    font-weight: bolder;
    margin-bottom: 0;
}
.timeReponse{
    font-size: 15px;
    letter-spacing: 0px;
    color: #605C5C;
    margin-bottom: 8px;
}
.textReponse{
    font-size: 15px;
    color: #605C5C;
}
.textReponse{
    font-size: 14px;
    color: #9C9999;
    font-weight: bolder;
}
.textCommentBleu{
    font-size: 14px;
    color: #34C1F5;
    font-weight: bolder;
}
.textBlock {
    width: 90%;
}
.readMore {
    float: right;
    color: #34C1F5;
}
.blockLick {
    display: flex;
    margin-left: 40px;
}
.blockMoreAnswer {
    display: none;
}
.textComment {
    color: #9C9999;
    font-weight: bold;
    font-size: 15px;
}
.contentSwipeToday {
    display: flex;
}
.barreLatraleNoir{
    position: relative;
    width: 65px;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: linear-gradient(180deg, #f18ac3, #ffe3a3);;
    writing-mode: vertical-rl;
    text-orientation: inherit;
    padding-right: 7px;
}
.contentSwipeToday{
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container {
    padding: 15px 0 !important;
    margin-left: 10px !important;
}
.elementCardSuggestionDay {
    height: 139px;
    position: relative;
    overflow-y: hidden;
}
.elementCardSuggestionDay img{
    width: 100%;
    height: auto;
}
.flyText{
    color: #F7F7F7;
    font-size: 27px;
    margin-bottom: 0;
    font-family: "Ubuntu-Bold";
    text-shadow: 2px 2px #000;
}
.heureFly{
    background: #000000;
    font-size: 11px;
    color: #FFFFFF;
    margin-bottom: 0px;
    padding: 5px 20px;
    z-index: 111111;
    font-weight: 900;
}
.contentFlyHeure{
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    background: transparent linear-gradient(180deg, #0000 0%, #0807079e 100%) 0% 0% no-repeat padding-box;
    opacity: 0.69;
    align-items: flex-end;
    padding-left: 10px;
}
.libertiText{
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 15px;
    font-family: "Ubuntu-Medium";
}
.imgLiberti{
    width: 18px;
    height: 24px;
    margin-top: -11px;
}
.mindCard{
    display: flex;
}
.card-suggestionDay {
    display: block !important;
    text-align: unset !important;
    font-size: unset !important;
    height: unset !important;
    margin-bottom: 40px;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.15);
    width: 280px !important;
}
.swiper-wrapper {
    height: auto !important;
}
.swiper-container {
    height: auto !important;
}
.blockImgMind{
    width: 52px;
    height: 52px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 2px;
}
.blockImgMind img{
    width: 100%;
}
.oeil-1{
    width: 16px;
    margin-left: -45px;
    height: 16px;
}
.day{
    font-size: 12px;
    letter-spacing: 0px;
    color: #5e5e5e;
    margin-bottom: 0;
    font-family: "Ubuntu-Regular";
}

.contentCardSuggestionDay {
    padding: 10px 13px;
}
.mindText {
    color: #5e5e5e;
    font-size: 15px;
    font-family: "Ubuntu-Medium";
    margin-bottom: 3px;
}
.numberviewsSuggestion {
    font-size: 12px;
    letter-spacing: 0px;
    color: #605C5C;
    margin-bottom: 0;
    font-weight: 900;
}
.block3 {
    width: 100%;
    text-align: left;
    padding-left: 14px;
    display: block;
}
.content-Haltcare .container-fluid .contentSwipeToday {
    padding: 0;
    background: rgba(205, 229, 117, 0.1);
    border: 1px solid #FFFFFF;
    margin-bottom: 20px;
}
.vertBarre{
    color: #242323;
    background: #c2fca8;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
.swipe2{
    display: block;
    width: 95% !important;
    background: none !important;
}
.life{
    background: #f6e4ff;
    color: #242323;
    position: relative;
}
.content-life{
    background: #f9f0ff;
    margin-bottom: 20px;

}

.Health{
    background: #f6d5d5;
    position: relative;
}
.content-Business{
    background: #ebebeb !important;
    margin-bottom: 20px;
}
.content-Health{
    background: #f8eeee;
    margin-bottom: 20px;
}
.Business{
    background: #dad9d9;
    position: relative;
}
.content-Education{
    background: #e4fbfd;
    /* opacity: 0.1; */
}
.Education{
    background: #c7eff3;
    position: relative;
}
.content-Evironnement{
    background: rgba(244, 137, 47, 0.1) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
}
.Evironnement{
    background: #F4A82F 0% 0% no-repeat padding-box;
    color: #242323;
    position: relative;
}
.groupButtonHeader2 {
    margin-left: 165px;
}
.iconeMenue2{
    width: 29px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;

}
.iconeMenue2 img{
    width: 100%;
}
.textHeure{
    display: flex;
    justify-content: space-between;
}
.btnSearchMobile{
    display: none;
}
.header2Web {
    display: block;
}
.div-block-332 {
    margin-top: unset !important;
}
.header2Mobile {
    display: none;
}
.blockImgPuliMobile {
    display: none;
}

.contentMobile {
    display: none;
}
.contentweb {
    display: block;
}
.mobMobile {
    display: none;
}
.btnRoseMobile {
    display: none;
}
.blockTablettePub {
    display: none;
}

.btnLogOut {
    background: none;
    border: none;
}
.visiblelement{
    display: block;
}
.offre-shop {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ebebeb;
    margin-left: -18px;
    margin-right: -18px;
    padding-bottom: 30px;
}

.div-block-322 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.text-block-318 {
    margin-bottom: 20px;
    padding-left: 0px;
    font-weight: 700;
    font-family: "Ubuntu-Bold";
}

.bar-cross {
    width: 30px;
    height: 3px;
    background-color: #333;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
}

.bar-cross-left {
    width: 30px;
    height: 3px;
    margin-left: -30px;
    background-color: #333;
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg);
}

.cross {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
.text-block-319 {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    font-family: "Ubuntu-Medium";
}
.shopBtn{
    cursor: pointer;
}

.div-block-318 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
}

.text-block-320 {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Ubuntu-Medium";
}

.div-block-319 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-block-321 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}
.link-block-38 {
    border-radius: 5px;
    background-color: #34c1f5;
    color: #fff;
    text-decoration: none;
}
.imgBullProfil{
    width: 52px;
}
.imgBullProfil img{
    width: 100%;
}
.text-hel{
    color: rgb(147, 226, 112);
    text-align: left;
    padding: 20px 15px 0;
    font-family: "Ubuntu-Bold";
}
.text-life{
    color: #e5a8ff;
    text-align: left;
    padding: 20px 15px 0;
    font-family: "Ubuntu-Bold";
}
.text-health{
    color: #ddafaf;
    text-align: left;
    padding: 20px 15px 0;
    font-family: "Ubuntu-Bold";
}
.text-business{
    color: #c0bebe;
    text-align: left;
    padding: 20px 15px 0;
    font-family: "Ubuntu-Bold";
}
.text-education{
    color: #9ddee5;
    text-align: left;
    padding: 20px 15px 0;
    font-family: "Ubuntu-Bold";
}
.sousBlockTitle{
    padding: 20px 20px 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ebebeb;
    margin: 0px -18px 0;
    min-height: 137px;
}
.text-inshaAlla {
    color: #ddafb5;
    font-size: 16px;
    text-align: left;
    padding: 20px 15px 0;
    font-family: "Ubuntu-Bold";
}
.BlockInshaAlla {
    background-color: #fde9e9 !important;
    padding-left: 20px;
}
.sousElementInshaAlla {
    display: block;
    width: 89%;
    margin-left: 10px;
}
.colModife7{
    padding-right: 0 !important;
}
.div-block-325 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding: 15px 15px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 50%;
}
.div-block-329 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.div-block-327 {
    margin-right: 10px;
}
.div-block-326 {
    width: 60%;
}
.div-block-328 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 100px;
}
.likes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    height: 20px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.text-block-292 {
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 500;
}
.liker {
    margin-right: 5px;
}
.disliker {
    width: 20px;
    margin-left: 10px;
}
.disliker img{
    width: 100%;
}
.text-block-292 {
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 500;
}
.message-2-messaage {
    margin-top: -9px;
}
.div-block-331 {
    padding-left: 0;
    min-height: 306px;
}
.inputCommentaire{
    resize: none;
    margin-right: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #c4c4c4;
    border-radius: 5px;
    background: #f7f7f7;
    width: 96%;
    margin-top: -12px;
    margin-left: 10px;
    min-height: 205px;
    margin-bottom: 20px;
}
.text-block-264 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    padding-left: 5px;
}
.div-block-332 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.text-block-325 {
    padding: 9px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #db087c;
    border-radius: 5px;
    background-color: transparent;
    color: #db087c;
}
.text-block-326 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    margin-left: 40px;
    padding: 9px 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #34c1f5;
    color: #fff;
    margin-left: 90px;
}
.imgCoeur2 {
    width: 17px;
}
.imgCoeur2 img {
    width: 17px;
}
.btnAnnuler{
    border: 1px solid #5e5e5e;
    color: #5e5e5e;
    padding: 5px 15px !important;
    margin-left: 10px;
    margin-right: 40px;
}
.btnEnvoyer {
    background: #5e5e5e;
    color: #ffffff;
    padding: 5px 35px !important;
    font-size: 14px;
}
.flexElement1{
    display: flex;
    justify-content: space-between;
}
.fistElement{
    width: 71%;
    height: 100%;
}
.secondElement{
    width: 28%;
}
.opacityElement{
    opacity: 0;
}
.indexElement{
    z-index: 999;
}
.indexElement{
    margin-top: -90px;
    display: block;
    position: fixed;
    z-index: 999999999999999;
}
.sidebar-format::-webkit-scrollbar {
    display: none !important;
}
.contentOneMonFlow {
    width: 85%;
    display: block;
}
.accrocheskate {
    display: flex;
    margin-bottom: 20px;
}
.accrocheskateImg {
    width: 49px;
}
.info-pub-bando{
    padding: 20px 50px;
}
.pub-bando-connect{
    display: flex;
}
.link-229 {
    position: relative;
    top: -14px;
    margin-right: 15px;
    margin-bottom: 3px;
    color: #4d4d4d;
    font-size: 11px;
    text-decoration: none;
}

.go{
    position: relative;
    top: -10px;
}
.hot-notification{
    text-align: left;
    border-radius: 5px;
    background-color: #f1f0f0;
    padding: 20px 0px 20px 20px;
    height: 246px !important;
    width: 400px !important;
}
.div-block-391{
    display: flex;
}
.imgGrenn {
    border-radius: 50px;
    width: 47px;
}
.like-notication{
    display: flex;
    margin-top: 2px;
    margin-left: -32px;
    padding: 0px 60px 0px 0px;
    justify-content: center;
}
.hot-flow-txt-description {
    color: #8f8f8f;
    font-size: 18px;
    line-height: 22px;
    font-family: "Ubuntu-Medium";
    margin-bottom: 0;
    padding-right: 10px;
}
.image-bull1 {
    color: #c0bebe;
    width: 22px;
    height: 22px;
    margin-top: 22px;
}
.suggestionFlow {
    margin-left: -5px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-bottom: 20px solid #fff;
    background-image: linear-gradient(135deg, #f18ac3, #ffe3a3);
    padding-top: 20px;
}
.text-Playlist2{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: "Ubuntu-Medium";
    margin-left: 10px;
}
.image-125{
    width: 92px;
}
.imgCoeurBlanc{
    width: 23px;
}
.cloche3{
    width: 11px;
}
.image-12Blanc{
    width: 29px
}
.panier2{
    width: 27px;
}
.img127{
    width: 100%;
}
.imgRegarde{
    width: 61px;
}
.imgVideoLike{
    width: 61px;
}
.shadid103{
    width: 110px;
}
.imgPubBlock {
    width: 72%;
    height: 200px;
    overflow: hidden;
}
.imgPubBlock img{
    width: 100%;
    /* height: 100%; */
}
.like-notication2{
    display: flex;
    margin-top: 3px;
    margin-left: 0px;
    padding: 0px 35px 0px 50px;
}
.blockTitle2{
    display: flex;
    justify-content: space-between;
}
.toutesNotifications{
    border-radius: 20px;
    background-color: #ebebeb;
    color: #8f8f8f;
    font-size: 14px;
    padding: 8px 13px;
}
.paddignElement8 {
    padding-top: 26px;
}
.more-seting {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.share-blanc {
    margin-right: 20px;
}
.div-block-406 {
    padding: 20px 40px;
    background-color: #f7f7f7;
}
.div-block-407 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0px;
}
.div-block-414 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.div-block-412 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #e2dcdc;
}
.vignette {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 141px;
    height: 72px;
    margin-right: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.image-135 {
    border-radius: 5px;
    width: 141px;
}
.imge135 {
    border-radius: 5px;
    width: 141px;
}
.div-block-410 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.text-block-394 {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Ubuntu-Medium";

}
.text-block-396 {
    color: #8f8f8f;
    font-family: "Ubuntu-Regular";
    margin-bottom: 0;
}
.div-block-413 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.div-block-409 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.image-136 {
    border-radius: 50%;
    width: 43px;
}
.imge136 {
    border-radius: 50%;
    width: 43px;
}
.text-block-395 {
    font-size: 16px;
    font-family: "Ubuntu-Medium";
    margin-bottom: 0;
}
.points-vertical{
    border: none !important;
}
.div-block-411 {
    width: 6px;
    height: 6px;
    margin-bottom: 3px;
    border-radius: 50%;
    background-color: #c4c4c4;
    color: #c4c4c4;
}
.imge-135{
    width: 141px;
}
@media all and (min-width: 300px) and (max-width: 767px){
    .col-lg-9 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .col-lg-3 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .searchNav {
        display: none;
    }
    .navbar-toggler {
        display: none;
    }
    .form-inline {
        display: none;
    }
    .btnSearchMobile{
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }
    .groupButtonHeader2 {
        display: none !important;
    }
    .content-Menu {
        width: 100%;
    }
    .colMobe {
        display: none;
    }
    .muu {
        margin-left: 0px;
    }
    .header2Web {
        display: none;
    }
    .header2Mobile {
        display: block;
    }
    .timeHeader {
        letter-spacing: -0.3px;
        color: #FFFFFF;
        font-size: 12px;
        margin-bottom: 0;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 8px;
        font-weight: bold;
    }
    .blockTimeMob {
        display: flex;
        background: rgba(255, 255, 255, 0.08) 0% 0% no-repeat padding-box;
        border-radius: 11px;
    }

    .blockgeneral {
        display: block;
        margin-bottom: 0;
    }
    .container-modife-mobile {
        width: 100%;
        padding: 0;
    }
    .blockDetail {
        width: 100%;
        padding: 15px 20px;
    }
    .content-contenue1 {
        margin-bottom: 0;
    }
    .col-modife {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .text-title {
        font-size: 16px;
        margin-bottom: 3px;
    }
    .content12 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .datePublication {
        color: #605C5C;
        margin-bottom: 0;
        font-size: 13px;
        width: 100%;
    }
    .textImgView {
        width: 22%;
    }
    .groupLOveUnlove {
        width: 63%;
    }
    .blockImgPuliMobile {
        display: block;
        width: 24px;
        margin-top: -3px;
        height: 24px;
        margin-left: 10px;
    }
    .blockImgPuliMobile img{
        width: 100%;
    }
    .blockshareAndComments {
        display: none;
    }
    .blockcomentaireAndButton {
        display: none;
    }
    .moreContent {
        display: none;
    }
    .blockAuteur {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .imgBadge {
        right: 46%;
        width: 24px;
        position: absolute;
    }
    .contentMobile {
        display: block;
        width: 45%;
        text-align: justify;
    }
    .contentweb {
        display: none;
    }
    .elementImgAuteur {
        margin-top: 15px;
        margin-left: unset;
        margin-right: unset;
        width: 48px;
        height: 48px;
    }
    .nameAuteur {
        font-weight: 800;
        font-size: 15px;
        margin-top: 19px;
        margin-bottom: 0px;
    }
    .nbreAbonnees {
        font-size: 13px;
        font-weight: 600;
        color: #605c5b;
        margin-bottom: 13px;
    }
    .elementBtnSouscrire  {
        margin-top: 23px;
        padding-right: 15px;
    }
    .btnSubscribe {
        padding: 4px 20px;
        font-size: 13px;
    }
    .blockTime {
        background: #000000;
        width: 16%;
        display: none;
    }
    .mobMobile {
        display: block;
    }
    .publicite{
        position: relative;
        margin-bottom: 20px;
    }
    .seed-Block{
        position: absolute;
        top: 0;
        background: rgba(37, 37, 37, 0.43) 0% 0% no-repeat padding-box;
        color: #9ACED5;
        padding: 10px 30px;
    }
    .seedText {
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 700;
    }
    .commentBlock {
        margin-top: -2px;
    }
    .swiperBlackMob {
        display: none;
    }
    .btnRoseWeb {
        display: none;
    }
    .visibleBtn {
        display: flex;
        opacity: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .btnRoseWeb {
        display: none;
    }
    .pointRoseMobile {
        width: 29px;
        height: 29px;
        margin-top: 13px;
        margin-right: 20px;
    }
    .groupPointNav img {
        width: 29px;
        margin-left: 2px;
    }
    .searchButtonMenue {
        position: absolute;
        right: 29px;
        top: 18px;
    }
    .searchNav2 {
        margin-top: 18px;
    }
    .iconeMenue2 {
        width: 25px;
        height: 25px;
        margin-right: 7px;
        margin-left: 7px;
    }
    .blockTablettePub {
        display: none;
    }
    .pointsRose {
        position: relative;
        right: 15px;
    }
    .visiblelement{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: -50px;
        padding-right: 0px;
        margin-left: -30px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){

    .navbar-toggler {
        display: none;
    }
    .searchButtonMenue {
        left: 36%;
    }
    .col-lg-9 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .col-lg-3 {
        -ms-flex: unset !important;
        flex: unset !important;
        max-width: unset !important;
    }
    .colMobe {
        display: none;
    }
    .blockTablettePub {
        display: block;
    }
    .contentSuggestion1 {
        display: flex;
        justify-content: space-between;
    }
    .blockTime {
        display: none;
    }
    .blockTimeTablette {
        background: #000000;
        width: 16%;
    }
    .text-title {
        font-size: 20px;
    }
    .blockDetail {
        width: 70%;
        padding: 13px 20px;
    }
    .content12 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .datePublication {
        width: 46%;
    }
    .textImgView {
        width: 44%;
    }
    .groupLOveUnlove {
        width: 38%;
    }
    .webElement {
        display: none !important;
    }
    .blockgeneralTablette{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .shareMore{
        display: flex;
        justify-content: space-between;
    }
    .blockAuteur {
        width: 30%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    .groupLOveTablette{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }
    .groupLOveUnlove {
        width: 90%;
    }
    .blockImgPuli img {
        width: 25px;
        min-height: 33px;
    }
    .imgBadge {
        right: 12px;
        width: 35px;
        position: absolute;
        top: 0;
    }
    .blockTextAuteur {
        width: 68%;
        text-align: -webkit-left;
        padding-left: 10px;
        margin-top: 42px;
    }
    .blockgeneral {
        margin-bottom: 0px;
    }
    .content-contenue1 {
        margin-bottom: 0;
    }
    .col-modife {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .btnSubscribe {
        padding: 4px 24px;
    }
    .publicite {
        width: 70%;
        margin-bottom: -1px;
    }
    .blockTimeTablette {
        background: #000000;
        width: 28%;
        text-align: center;
    }
    .textTimeShalied {
        margin-bottom: 8px;
    }
    .timeSh {
        margin-bottom: 8px;
    }
    .calendar {
        margin-bottom: 10px;
    }
    .contentSuggestion1 {
        margin-bottom: 20px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1023px){

    .searchNav {
        min-width: 323px;
    }

}