.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.body {
  background-color: #f3f370;
}

.div-block {
  background-color: #bae7b2;
}

.div-block-2 {
  background-color: #f11a6c;
}

.body-2 {
  background-color: transparent;
  background-image: linear-gradient(135deg, #fff312, #ff00ae);
  font-family: Ubuntu, Helvetica, sans-serif;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  margin-top: 100px;
}

.image {
  margin-bottom: 3px;
}

.text-block {
  font-size: 20px;
}

.text-block-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.image-2 {
  margin-bottom: 60px;
}

.text-block-3 {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.body-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: hsla(0, 0%, 92%, 0.52);
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

.image-3 {
  margin-bottom: 0px;
}

.text-block-4 {
  margin-top: 0px;
  margin-bottom: 39px;
  font-size: 25px;
  font-weight: 700;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.pad {
  margin-top: 0px;
}

.subscribe-form {
  padding-top: 100px;
  padding-bottom: 100px;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.subscribe-form-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe-form-input-wrapper {
  text-align: left;
}

.subscribe-form-input {
  margin-bottom: 0px;
}

.text-block-5 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #8f8f8f;
  font-size: 20px;
  line-height: 25px;
}

.section-3 {
  position: relative;
  margin-top: -385px;
  padding-top: 0px;
  background-color: transparent;
}

.div-block-4 {
  width: 300px;
  margin-left: 10px;
  border-left: 0px solid #8f8f8f;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(255, 253, 253, 0.88);
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-left: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
}

.text-field {
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #8f8f8f;
  border-radius: 5px;
  background-color: transparent;
}

.text-field-2 {
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #8f8f8f;
  border-radius: 5px;
  background-color: transparent;
}

.submit-button {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #34c1f5;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.field-label {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #464646;
  font-size: 16px;
  font-weight: 500;
}

.field-label-2 {
  color: #4d4d4d;
  font-weight: 500;
}

.link {
  color: #0679c5;
}

.link-2 {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 0px;
  border-color: #0679c5;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  padding: 9px 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #34c1f5;
  border-radius: 5px;
}

.text-block-6 {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.text-block-7 {
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: #34c1f5;
  border-radius: 5px;
  color: #34c1f5;
  font-size: 18px;
  font-weight: 500;
}

.text-block-8 {
  font-size: 14px;
}

.text-block-9 {
  color: #34c1f5;
  font-size: 13px;
}

.form-block {
  border-left: 0px solid #dbdada;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 45px;
  margin-bottom: 10px;
  padding: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.19);
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.text-block-10 {
  color: #fff;
  font-size: 15px;
  text-align: left;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-9 {
  width: 300px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #12ccff;
}

.text-block-11 {
  color: #fff;
}
.bullModife1 {
  width: 54px;
}
.bullModife2 {
  width: 29px;
}

.div-block-10 {
  width: 300px;
  height: auto;
  margin-top: 5px;
  padding: 9px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 5px;
  color: #0679c5;
  text-align: center;
}

.text-block-12 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.text-block-13 {
  color: #fff;
}

.text-block-14 {
  margin-top: 30px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 500;
}

.link-3 {
  color: #2a2a2a;
  text-decoration: none;
}

.text-block-201 {
  position: relative;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.copy-right {
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(68deg, #fff312, #f50983);
}

.logo {
  margin-top: 0px;
  padding-bottom: 30px;
}

.text-block-202 {
  margin-bottom: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.image-4 {
  position: absolute;
  margin-top: -172px;
  margin-left: 113px;
}

.image-5 {
  position: absolute;
  margin-top: 22px;
  margin-left: -200px;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading {
  margin-top: 10px;
  font-size: 25px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-block-203 {
  font-size: 25px;
  font-weight: 700;
}

.text-block-204 {
  margin-bottom: 5px;
  color: #8f8f8f;
  font-size: 18px;
  line-height: 22px;
}

.text-block-205 {
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.text-block-206 {
  font-size: 15px;
}

.text-block-207 {
  color: #8f8f8f;
  font-size: 15px;
}

.div-block-17 {
  margin-top: 60px;
}

.text-block-208 {
  line-height: 25px;
}

.text-block-209 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
}

.champ {
  width: 300px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #8f8f8f;
  border-radius: 5px;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block-210 {
  font-size: 14px;
  text-align: left;
}

.bismillah {
  width: 100%;
  margin-top: 0px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #34c1f5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.text-block-211 {
  font-size: 15px;
}

.rejoindre-vide {
  width: 100%;
  padding: 10px 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #34c1f5;
  border-radius: 5px;
  color: #34c1f5;
}

.text-block-212 {
  font-size: 13px;
}

.text-block-213 {
  font-size: 16px;
  font-weight: 500;
}

.text-block-214 {
  margin-bottom: 0px;
  font-size: 15px;
}

.div-block-19 {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 10px;
}

.bull2 {
  position: absolute;
  margin-top: 185px;
  margin-left: 202px;
  width: 54px;
}

.bull {
  position: absolute;
  margin-top: 25px;
  margin-left: 811px;
  width: 29px;
}

.bull3 {
  position: absolute;
  margin-top: 619px;
  margin-left: 552px;
}

.text-block-216 {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #8f8f8f;
  font-size: 18px;
  line-height: 22px;
}

.field-label-3 {
  margin-top: 20px;
  padding-left: 20px;
  color: #8f8f8f;
  font-size: 19px;
  font-weight: 500;
  text-align: left;
}

.radio-button-field {
  text-align: left;
}

.radio-button-field-2 {
  margin-bottom: 20px;
  text-align: left;
}

.radio-button {
  margin-right: 20px;
  margin-left: 0px;
}

.radio-button-2 {
  margin-right: 20px;
  margin-left: 0px;
}

.text-field-3 {
  border-radius: 5px;
}

.text-field-4 {
  width: 100%;
  border-radius: 5px;
}

.radio-button-label {
  color: #8f8f8f;
  font-size: 16px;
}

.radio-button-label-2 {
  color: #8f8f8f;
  font-size: 16px;
}

.form-2 {
  width: 100%;
}

.submit-button-2 {
  width: 100%;
  border-radius: 5px;
  background-color: #34c1f5;
  font-size: 16px;
  font-weight: 500;
}

.body-5 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.section-6 {
  margin-top: 40px;
}

.big-bull {
  margin-right: 25px;
  padding-right: 40px;
  border-right: 1px solid #ff00ae;
  border-radius: 0px;
}

.link-block-2 {
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 20px;
  border-color: #333;
  border-radius: 150px;
  overflow: hidden;
}
.link-block-2 img{
  width: 100%
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  -ms-grid-columns: 2.25fr 2.25fr;
  grid-template-columns: 2.25fr 2.25fr;
}

.div-block-21 {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 15px;
  border-color: #ff7297;
  border-radius: 100px;
  overflow: hidden;
}
.div-block-21 img{
  width: 100%;
}

.text-block-218 {
  margin-top: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  padding-left: 52px;
  text-align: left !important;
  padding-left: 52px !important;

}

.div-block-22 {
  margin: 10px;
  width: 46%;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.div-block-24 {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 15px;
  border-color: #ffce0a;
  border-radius: 100px;
  overflow: hidden;
}
.div-block-24 img{
  width: 100%
}

.div-block-25 {
  margin: 10px 10px 10px 40px;
}

.div-block-26 {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 15px;
  border-color: #8ae578;
  border-radius: 100px;
  overflow: hidden;
}
.div-block-26 img{
  width: 100%
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-28 {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 15px;
  border-color: #05d9ff;
  border-radius: 100px;
  overflow: hidden;
}
.div-block-28 img{
  width: 100%
}

.div-block-29 {
  margin: 11px;
}

.div-block-30 {
  margin: 10px 10px 10px 40px;
}

.image-6 {
  position: absolute;
  margin-left: -431px;
}

.image-7 {
  position: relative;
  margin-top: -1110px;
  margin-left: 395px;
}

.image-8 {
  position: relative;
  margin-top: -30px;
  margin-left: -92px;
}

.text-block-219 {
  margin-top: 25px;
}

.link-4 {
  color: #0679c5;
  font-weight: 500;
  text-decoration: none;
}

.text-block-220 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}

@media screen and (min-width: 1280px) {
  .section-5 {
    margin-top: 40px;
  }

  .text-block-210 {
    color: #8f8f8f;
  }

  .bull {
    margin-left: 960px;
  }

  .text-block-215 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
  }

  .text-block-216 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #8f8f8f;
    line-height: 24px;
  }

  .field-label-3 {
    margin-top: 20px;
    padding-left: 10px;
    color: #8f8f8f;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }

  .radio-button-field {
    color: #8f8f8f;
    font-size: 16px;
    text-align: left;
  }

  .radio-button-field-2 {
    margin-bottom: 20px;
    text-align: left;
  }

  .radio-button {
    margin-right: 10px;
    margin-left: 0px;
  }

  .radio-button-2 {
    margin-right: 10px;
    margin-left: 0px;
  }

  .text-field-3 {
    border-radius: 5px;
  }

  .text-field-4 {
    border-radius: 5px;
  }

  .radio-button-label {
    font-size: 16px;
  }

  .radio-button-label-2 {
    color: #8f8f8f;
    font-size: 16px;
  }

  .form-2 {
    width: 300px;
  }

  .submit-button-2 {
    width: 100%;
    border-radius: 5px;
    background-color: #12ccff;
    font-size: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 991px) {
  .text-block-3 {
    line-height: 25px;
  }

  .section-2 {
    margin-top: 0px;
  }

  .container-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .pad {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .text-block-5 {
    font-size: 18px;
    line-height: 23px;
  }

  .form {
    margin-top: 40px;
  }

  .link-block {
    margin-top: 30px;
  }

  .text-block-202 {
    font-size: 18px;
    line-height: 23px;
  }

  .container-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 16px;
  }

  .bull2 {
    margin-left: 96px;
  }

  .bull {
    margin-left: 600px;
  }

  .bull3 {
    margin-left: 465px;
  }

  .big-bull {
    padding-right: 0px;
    border: 0px solid #000;
  }

  .div-block-20 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .text-block-3 {
    color: #fff;
  }

  .body-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-2 {
    margin-top: 0px;
  }

  .container-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .pad {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .subscribe-form {
    padding: 40px 20px;
  }

  .text-block-5 {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 21px;
  }

  .div-block-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    padding-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .form {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .text-field {
    font-family: Ubuntu, Helvetica, sans-serif;
  }

  .submit-button {
    font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: 500;
  }

  .link-block {
    margin-top: 30px;
  }

  .div-block-6 {
    width: 100%;
    font-family: Ubuntu, Helvetica, sans-serif;
  }

  .text-block-6 {
    font-family: Ubuntu, Helvetica, sans-serif;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .text-block-202 {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 21px;
  }

  .image-4 {
    margin-top: -214px;
  }

  .div-block-13 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .bull2 {
    margin-left: 51px;
  }

  .bull {
    margin-left: 468px;
  }

  .bull3 {
    margin-left: 295px;
  }

  .image-7 {
    position: absolute;
    margin-top: -728px;
    margin-left: 218px;
  }

  .image-8 {
    margin-top: 1px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-3 {
    margin-bottom: 20px;
  }

  .section {
    margin-top: 20px;
  }

  .text-block-2 {
    font-size: 20px;
  }

  .image-2 {
    margin-bottom: 0px;
  }

  .section-2 {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .text-block-4 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .centered-container {
    text-align: left;
  }

  .subscribe-form-input-wrapper {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .subscribe-form-input {
    width: 100%;
  }

  .text-block-5 {
    margin: 0px 10px;
    color: #8f8f8f;
    font-size: 20px;
    line-height: 24px;
  }

  .div-block-4 {
    margin-left: 0px;
    padding-top: 10px;
  }

  .form {
    margin-top: 0px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .text-field {
    width: 100%;
  }

  .link-2 {
    font-size: 14px;
  }

  .link-block {
    margin-top: 20px;
  }

  .link-3 {
    color: #2e2e2e;
    text-decoration: none;
  }

  .text-block-201 {
    font-weight: 400;
    text-align: center;
  }

  .copy-right {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .logo {
    margin-bottom: 30px;
    padding-bottom: 0px;
  }

  .text-block-202 {
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 16px;
  }

  .image-4 {
    margin-top: -194px;
    margin-left: 257px;
  }

  .image-5 {
    margin-top: -36px;
    margin-left: -16px;
  }

  .container-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .div-block-16 {
    margin-top: 0px;
  }

  .text-block-204 {
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 20px;
  }

  .text-block-205 {
    margin-bottom: 0px;
    font-size: 22px;
  }

  .div-block-17 {
    margin-top: 20px;
  }

  .text-block-209 {
    font-size: 18px;
    line-height: 22px;
  }

  .rejoindre-vide {
    width: 100%;
  }

  .text-block-214 {
    margin-bottom: 0px;
  }

  .div-block-19 {
    margin-top: 30px;
  }

  .bull2 {
    margin-top: 132px;
    margin-left: -7px;
  }

  .bull {
    margin-left: 285px;
  }

  .bull3 {
    margin-top: 533px;
    margin-left: 47px;
  }

  .text-block-216 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .field-label-3 {
    margin-top: 10px;
    font-size: 16px;
  }

  .radio-button-field-2 {
    margin-bottom: 10px;
  }

  .text-field-3 {
    width: 300px;
  }

  .text-block-217 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .big-bull {
    margin-right: 0px;
    margin-bottom: 30px;
    padding-bottom: 36px;
    border-bottom-width: 1px;
    border-bottom-color: #ff00ae;
  }

  .link-block-2 {
    width: 200px;
    height: 200px;
    border-width: 15px;
    line-height: 15px;
    text-decoration: overline;
  }

  .div-block-20 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-21 {
    width: 120px;
    height: 120px;
    border-width: 10px;
    background-image: url('../images/pexels-karolina-grabowska-4622994.jpg');
  }

  .text-block-218 {
    padding: 0px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 16px;
  }

  .div-block-22 {
    margin-right: 10px;
    margin-left: 20px;
  }

  .div-block-23 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-24 {
    width: 120px;
    height: 120px;
    border-width: 10px;
  }

  .div-block-25 {
    margin-left: 20px;
  }

  .div-block-26 {
    width: 120px;
    height: 120px;
    border-width: 10px;
  }

  .div-block-27 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .div-block-28 {
    width: 120px;
    height: 120px;
    border-width: 10px;
  }

  .div-block-29 {
    margin: 10px;
  }

  .div-block-30 {
    margin-left: 20px;
  }

  .image-6 {
    margin-top: -424px;
    margin-left: -187px;
  }

  .image-7 {
    margin-top: -589px;
    margin-left: 108px;
  }

  .image-8 {
    margin-top: -2px;
  }

  .section-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-220 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
  }
}